{% extends 'global/base.html' %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{contact.nome_do_paciente}}
        </h1>
        <p><b>ID:</b> {{contact.id}}</p>
        <p><b>Data da consulta:</b> {{contact.data_da_consulta}}</p>
        <p><b>CPF:</b> {{contact.cpf}}</p>
        <p><b>HD:</b> {{contact.hd}}</p>
        <p><b>Telefone:</b> {{contact.telefone}}</p>
        <p><b>Email:</b> {{contact.email}}</p>
        <p><b>Anotações:</b> {{contact.anotacoes}}</p>
        <p><b>Data da criação:</b> {{contact.created_date}}</p>
        <p><b>Categoria:</b> {{contact.categoria.nome}}</p>

        {% if contact.enviar_arquivo %}
            <p>
                <img src="{{ contact.enviar_arquivo.url }}" alt="{{ contact.nome_do_paciente }}">
            </p>
        {% endif %}


        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Update</a>

            <form action="{% url 'contact:delete' contact.id %}" method="POST">

                {% csrf_token %}

                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes"> 
                    <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
                {% else %}
                    <button class="btn btn-link btn-delete" type="submit">Delete</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}
